src/Part_8/schema_library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Library" type="LibraryType"/>

    <!-- Отдел -->
    <xs:complexType name="LibraryType">
        <xs:sequence>
            <xs:element type="DepartmentType" name="Department" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Стелад -->
    <xs:complexType name="DepartmentType">
        <xs:sequence>
            <xs:element type="RackType" name="Rack" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Полка -->
    <xs:complexType name="RackType">
        <xs:sequence>
            <xs:element type="ShelfType" name="Shelf" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Книга -->
    <xs:complexType name="ShelfType">
        <xs:sequence>
            <xs:element type="BookType" name="Book" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Описание Книги -->
    <xs:complexType name="BookType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="author"/>
            <xs:element type="xs:string" name="description"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>